{template '_header'}
<style>
    .popover{
        width:170px;
        font-size:12px;
        line-height: 21px;
        color: #0d0706;
    }
    .popover span{
        color: #b9b9b9;
    }
    .nickname{
        display: inline-block;
        max-width:200px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        vertical-align: middle;
    }
    .tooltip-inner{
        border:none;
    }
</style>
<div class="page-header">
    当前位置：<span class="text-primary">核销订单记录</span>
</div>
<div class="page-content">
    <form action="" method="get" class="form-horizontal form-search" role="form">
		<input type="hidden" name="c" value="site" />
        <input type="hidden" name="a" value="entry" />
        <input type="hidden" name="m" value="lionfish_comshop" />
        <input type="hidden" name="do" value="admin" />
        <input type="hidden" name="controller"  value="communityhead.look_piup_record" />
        <div class="page-toolbar m-b-sm m-t-sm">
            <div class="input-group">
				<input type="text" class="form-control input-sm"  name="keyword" value="{$_GPC['keyword']}" placeholder="订单号"/>
				<span class="input-group-btn">
					<button class="btn  btn-primary" type="submit"> 搜索</button>
				</span>
			</div>
        </div>
    </form>
    <form action="" method="post" >
        <div class="row">
            <div class="col-md-12">
                <div class="page-table-header">
                    <input type='checkbox' />
                </div>
                <table class="table table-responsive">
                    <thead>
                    <tr>
						<th style="width:25px;"></th>
						<th style="width:60px;">ID</th>
						<th style="">订单编号</th>
                        <th style="">核销时间</th>
                    </tr>
                    </thead>
                    <tbody>
					{loop $list $row}
						<tr>
                            <td style="position: relative; ">
                                <input type='checkbox' value="{$row['id']}" class="checkone"/>
							</td>
							<td>
								{$row['id']}
							</td>
							<td>
								{$row['order_sn']}
							</td>
							<td>
								{php echo date('Y-m-d H:i:s', $row['addtime']) }
							</td>
                        </tr>
					{/loop}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" style="text-align: right">
                            {$pager}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </form>
</div>

<script language="javascript">
    
    require(['bootstrap'], function () {
        $("[rel=pop]").popover({
            trigger: 'manual',
            placement: 'right',
            title: $(this).data('title'),
            html: 'true',
            content: $(this).data('content'),
            animation: false
        }).on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(this).siblings(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
            var _this = this;
            setTimeout(function () {
                if (!$(".popover:hover").length) {
                    $(_this).popover("hide")
                }
            }, 100);
        });
    });
   

    $("[data-toggle='batch-group'], [data-toggle='batch-level']").click(function () {
        var toggle = $(this).data('toggle');
        $("#modal-change .modal-title").text(toggle=='batch-group'?"批量修改分组":"批量修改会员等级");
        $("#modal-change").find("."+toggle).show().siblings().hide();
        $("#modal-change-btn").attr('data-toggle', toggle=='batch-group'?'group':'level');
        $("#modal-change").modal();
    });
    $("#modal-change-btn").click(function () {
        var _this = $(this);
        if(_this.attr('stop')){
            return;
        }
        var toggle = $(this).data('toggle');
        var ids = [];
        $(".checkone").each(function () {
            var checked = $(this).is(":checked");
            var id = $(this).val();
            if(checked && id){
                ids.push(id);
            }
        });
        if(ids.length<1){
            tip.msgbox.suc("请选择要批量操作的会员");
            return;
        }
        var option = $("#modal-change .batch-"+toggle+" option:selected");
        level = '';
        if (toggle=='group'){
            for(i=0;i<option.length;i++){
                if (level == ''){
                    level += $(option[i]).val();
                }else{
                    level += ','+$(option[i]).val();
                }
            }
        }else{
            var level = option.val();
        }

        var levelname = option.text();
        tip.confirm("确定要将选中会员移动到 "+levelname+" 吗？", function () {
            _this.attr('stop', 1).text("操作中...");
            $.post(biz.url('user/changelevel'),{
                level: level,
                ids: ids,
                toggle: toggle
            }, function (ret) {
                $("#modal-change").modal('hide');
                if(ret.status==1){
                    tip.msgbox.suc("操作成功");
                    setTimeout(function () {
                        location.reload();
                    },1000);
                }else{
                    tip.msgbox.err(ret.result.message);
                }
            }, 'json')
        });
    });
</script>
{template '_footer'}

