{template '_header'}
<div class="page-header">
    当前位置：<span class="text-primary">{if !empty($item['id'])}编辑{else}添加{/if}{if !empty($item['id'])}({$item['name']}){/if}</span>
</div>

<div class="page-content">
    <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data">
        <input type="hidden" name="data[id]" value="{$item['id']}"/>
        <div class="form-group">
            <label class="col-lg control-label must">线路名称</label>
            <div class="col-sm-9 col-xs-12 ">
                <input type="text" id='title' name="data[name]" class="form-control" value="{$item['name']}" data-rule-required="true"/>
            </div>
        </div>
		<div class="form-group">
			<label class="col-lg control-label must">关联配送员</label>
			<div class="col-sm-9 col-xs-12">
				{php echo tpl_selector('clerk_id',array('key'=>'id',  'text'=>'nickname', 'thumb'=>'avatar','placeholder'=>'昵称','buttontext'=>'选择配送员 ', 'items'=>$saler,'url'=>shopUrl('delivery/queryclerk') ))}
				
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg control-label must">关联小区</label>
			<div class="col-sm-9 col-xs-12">
				{php echo tpl_selector('head_id',array('key'=>'id','multi' =>1, 'type'=>1, 'text'=>'community_name','placeholder'=>'小区名称/团长名称/团长电话','buttontext'=>'选择小区 ', 'items'=>$headlist,'url'=>shopUrl('communityhead/lineheadquery') ))}
				
			</div>
		</div>
        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9 col-xs-12">
                <input type="submit" value="提交" class="btn btn-primary"/>
                <input type="button" name="back" onclick='history.back()' style='margin-left:10px;' value="返回列表" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<script language='javascript'>
    function formcheck() {
       
        return true;
    }
</script>

{template '_footer'}
