{template '_header'}
<style>
    tbody tr td{
        position: relative;
    }
    tbody tr  .icow-weibiaoti--{
        visibility: hidden;
        display: inline-block;
        color: #fff;
        height:18px;
        width:18px;
        background: #e0e0e0;
        text-align: center;
        line-height: 18px;
        vertical-align: middle;
    }
    tbody tr:hover .icow-weibiaoti--{
        visibility: visible;
    }
    tbody tr  .icow-weibiaoti--.hidden{
        visibility: hidden !important;
    }
    .full .icow-weibiaoti--{
        margin-left:10px;
    }
    .full>span{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        vertical-align: middle;
        align-items: center;
    }
    tbody tr .label{
        margin: 5px 0;
    }
    .goods_attribute a{
        cursor: pointer;
    }
    .newgoodsflag{
        width: 22px;height: 16px;
        background-color: #ff0000;
        color: #fff;
        text-align: center;
        position: absolute;
        bottom: 70px;
        left: 57px;
        font-size: 12px;
    }
	.a{cursor: pointer;}
</style>
<div class="page-header">
    当前位置：<span class="text-primary">{$type_name}-商品管理</span>
</div>
<div class="page-content">
	<div class="tabs-container tab-goods page-toolbar">
        <div class="tabs-left">
            <ul class="nav nav-tabs" id="myTab">
                <li  {if empty($_GPC['type']) || $_GPC['type']=='all'}class="active"{/if}><a href="{php echo shopUrl('pin')}">全部商品（{$all_count}）</a></li>
                <li  {if $_GPC['type']=='saleon'}class="active"{/if} ><a href="{php echo shopUrl('pin',array('type'=>'saleon'))}">出售中（{$onsale_count}）</a></li>
				<li {if $_GPC['type']=='stock_notice'}class="active"{/if} ><a href="{php echo shopUrl('pin',array('type'=>'stock_notice'))}">库存预警（{$stock_notice_count}）</a></li>
                <li {if $_GPC['type']=='getdown'}class="active"{/if} ><a href="{php echo shopUrl('pin',array('type'=>'getdown'))}">已下架（{$getdown_count}）</a></li>
                <li {if $_GPC['type']=='warehouse'}class="active"{/if} ><a href="{php echo shopUrl('pin',array('type'=>'warehouse'))}">仓库（{$warehouse_count}）</a></li>
                <li {if $_GPC['type']=='recycle'}class="active"{/if} ><a href="{php echo shopUrl('pin',array('type'=>'recycle'))}">回收站（{$recycle_count}）</a></li>
				
            </ul>
        </div>
    </div>
    <form action="" method="get" class="form-horizontal form-search" role="form">
		<input type="hidden" name="c" value="site" />
        <input type="hidden" name="a" value="entry" />
        <input type="hidden" name="m" value="lionfish_comshop" />
        <input type="hidden" name="do" value="admin" />
        <input type="hidden" name="type" value="{$type}" />
        <input type="hidden" name="goods_type" value="{$goods_type}" />
        <input type="hidden" name="controller"  value="pin" />
        <div class="page-toolbar">
             <div class="col-sm-8">
                <div class="input-group">
                      <input type="text" class="input-sm form-control" name='keyword' value="{$_GPC['keyword']}" placeholder="输入商品编码或者商品名称然后回车">
					  <span class="input-group-select">
						<select name="cate" class='form-control select2' style="width:200px;" data-placeholder="商品分类">
							<option value="" {if empty($_GPC['cate'])}selected{/if} >商品分类</option>
								{loop $category $c}
							<option value="{$c['id']}" {if $_GPC['cate']==$c['id']}selected{/if} >{$c['name']}</option>
								{/loop}
						</select>
					  </span>
					  
                      <span class="input-group-btn">
                          <button class="btn btn-primary" type="submit"> 搜索</button>
                      </span>
                </div>
            </div>
        </div>
    </form>
	
    <form action="" method="post" >
       
        <div class="row">
            <div class="col-md-12">
                <div class="page-table-header">
                    <input type='checkbox' />
					<span class="pull-right">
						<a href="{php echo shopUrl('pin.addgoods', array('type'=>$goods_type))}" class="btn btn-primary"><i class="fa fa-plus"></i> 添加商品</a>
					</span>
                    <div class="btn-group">
						<button class="btn btn-default btn-sm  btn-operation" type="button" data-toggle='batch'  data-href="{php echo shopUrl('goods/change',array('type'=>'is_index_show', 'value' => 1))}">
                            <i class='icow icow-xiajia3'></i> 首页推荐
                        </button>
						<button class="btn btn-default btn-sm  btn-operation" type="button" data-toggle='batch' data-href="{php echo shopUrl('goods/change',array('type'=>'grounding','value'=>1))}">
                            <i class='icow icow-shangjia2'></i> 上架
                        </button>
                        <button class="btn btn-default btn-sm  btn-operation" type="button" data-toggle='batch'  data-href="{php echo shopUrl('goods/change',array('type'=>'grounding','value'=>0))}">
                            <i class='icow icow-xiajia3'></i> 下架
                        </button>
                        <button class="btn btn-default btn-sm  btn-operation" type="button" data-toggle='batch-group'  id="batchcatesbut" >商品分类</button>
						
						<button class="btn btn-default btn-sm  btn-operation"  style="display:none;" type="button" data-toggle='batch-group'  id="batchcatesbut" >商品分组</button>
                           
                        <button class="btn btn-default btn-sm  btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除吗，删除后商品将进入回收站?" data-href="{php echo shopUrl('goods/change',array('type'=>'grounding','value'=>3))}">
                            <i class='icow icow-shanchu1'></i> 删除
						</button>
						<button class="btn btn-default btn-sm  btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要彻底删除吗?" data-href="{php echo shopUrl('goods/delete')}">
							<i class='icow icow-shanchu1'></i> 彻底删除
						</button>	
                    </div>
                </div>
                <table class="table table-responsive">
                    <thead>
                     <tr>
						<th style="width:25px;"></th>
						<th style="width:80px;text-align:center;">ID</th>
						<th style="">&nbsp;</th>
						<th style="width:80px;">商品名称</th>
						<th style="">分类</th>
						<th style="width: 100px;">价格</th>
						<th style="width: 80px;">销量</th>
						<th style="width: 80px;">库存</th>
						<th  style="width:80px;" >是否上架</th>
						<th>首页推荐</th>
						<th style="">操作</th>
					</tr>
                    </thead>
                    <tbody>
                    {loop $list $item}
                    <tr>
					<td>
						<input type='checkbox'  value="{$item['id']}"/>
					</td>
					<td>
						{$item['id']}
					</td>
					<td>
						<a href="{php echo shopUrl('pin/edit', array('id' => $item['id'],'goodsfrom'=>$goodsfrom,'page'=>$page))}">
							<img src="{php echo tomedia($item['thumb'])}" style="width:72px;height:72px;padding:1px;border:1px solid #efefef;margin: 7px 0" onerror="this.src='../addons/lionfish_comshop/static/images/nopic.png'" />
						</a>
					</td>
					<td class='full' >
                        <span>
                            <span style="display: block;width: 100%;">
                            
                                <a href='javascript:;' data-toggle='ajaxEdit' data-edit='textarea'  data-href="{php echo shopUrl('goods/change',array('type'=>'goodsname','id'=>$item['id']))}" style="overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">
                                    {$item['goodsname']}
                                </a>
							</span>
							<i class="icow icow-weibiaoti-- " data-toggle="ajaxEdit2"></i>
                        </span>
					</td>
					<td>
						{loop $item['cate'] $g_cate}
						<span class="text-danger">[{$category[$g_cate['cate_id']]['name']}]</span>
						{/loop}
					</td>
					<td>&yen;
						{if $item['hasoption']==1}
						 <span data-toggle='tooltip' title='多规格不支持快速修改'>{$item['price']}</span>
						{else}
						<a href='javascript:;' data-toggle='ajaxEdit' data-href="{php echo shopUrl('goods/change',array('type'=>'price','id'=>$item['id']))}" >{$item['price']}</a>
						<i class="icow icow-weibiaoti-- " data-toggle="ajaxEdit2"></i>
					   {/if}
					</td>
					<td>{$item['sales']}</td>
					<td>
						{if $item['hasoption']==1}
						 <span data-toggle='tooltip' title='多规格不支持快速修改'>{$item['total']}</span>
						{else}
						<a href='javascript:;' data-toggle='ajaxEdit' data-href="{php echo shopUrl('goods/change',array('type'=>'total','id'=>$item['id']))}" >
							<span class="text-danger">{$item['total']}</span>
						</a>
						<i class="icow icow-weibiaoti-- " data-toggle="ajaxEdit2"></i>
					   {/if}
					</td>
					<td>
						<span class='label a {if $item['grounding']==1}label-primary{else}label-default{/if}'
                          data-toggle='ajaxSwitch'
                          data-confirm = "确认是{if $item['grounding']==1}下架{else}上架{/if}？"
                          data-switch-refresh='false'
                          data-switch-value='{$item['grounding']}'
                          data-switch-value0='0|下架|label label-default|{php echo shopUrl('goods/change',array('type'=>'grounding','value'=>1,'id'=>$item['id']))}'
                          data-switch-value1='1|上架|label label-success|{php echo shopUrl('goods/change',array('type'=>'grounding','value'=>0,'id'=>$item['id']))}'
                          >
                          {if $item['grounding']==1}上架{else}下架{/if}
						</span>
					</td>
					<td >
						<span class='label a {if $item['is_index_show']==1}label-primary{else}label-default{/if}'
                          data-toggle='ajaxSwitch'
                          data-switch-refresh='false'
                          data-switch-value='{$item['is_index_show']}'
                          data-switch-value0='0|未推荐|label label-default|{php echo shopUrl('goods/change',array('type'=>'is_index_show','value'=>1,'id'=>$item['id']))}'
                          data-switch-value1='1|首页推荐|label label-success|{php echo shopUrl('goods/change',array('type'=>'is_index_show','value'=>0,'id'=>$item['id']))}'
                          >
                          {if $item['is_index_show']==1}首页推荐{else}未推荐{/if}
						</span>
					</td>
						<td  style="overflow:visible;position:relative">
							<a  class='btn btn-op btn-operation' href="{php echo shopUrl('pin/edit', array('id' => $item['id'],'page'=>$page))}" >
								 <span data-toggle="tooltip" data-placement="top" title="" data-original-title="编辑">
									<i class="icow icow-bianji2"></i>编辑
								 </span>
							</a>
                            <a  class='btn  btn-op btn-operation' data-toggle='ajaxRemove' href="{php echo shopUrl('goods/change',array('id' => $item['id'],'type'=>'grounding','value'=>3))}" data-confirm='确认要删除吗，删除后商品将进入回收站?'>
                                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="删除">
                                     <i class='icow icow-shanchu1'></i>删除
                                </span>
                            </a>
							<a  class='btn  btn-op btn-operation' data-toggle='ajaxRemove' href="{php echo shopUrl('goods/delete', array('id' => $item['id']))}" data-confirm='确认要彻底删除吗?'>
                                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="彻底删除">
                                     <i class='icow icow-shanchu1'></i>彻底删除
                                </span>
                            </a>
							
                            <a href="javascript:void(0);" class="btn  btn-op btn-operation" data-toggle="popover" data-trigger="hover" data-html="true"
                               data-content="<img src='{$item['qrcode']}' width='130' alt='链接二维码'>" data-placement="auto right">
                                <i class="icow icow-erweima3"></i>浏览
                            </a>
                        </td>
                    </tr>
                    {/loop}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
							<div class="page-table-header">
								<input type="checkbox">
								<div class="btn-group">
							
									<button class="btn btn-default btn-sm  btn-operation" type="button" data-toggle='batch'  data-href="{php echo shopUrl('goods/change',array('type'=>'is_index_show', 'value' => 1))}">
										<i class='icow icow-xiajia3'></i> 首页推荐
									</button>
									
									<button class="btn btn-default btn-sm  btn-operation" type="button" data-toggle='batch' data-href="{php echo shopUrl('goods/change',array('type'=>'grounding','value'=>1))}">
										<i class='icow icow-shangjia2'></i> 上架
									</button>
									<button class="btn btn-default btn-sm  btn-operation" type="button" data-toggle='batch'  data-href="{php echo shopUrl('goods/change',array('type'=>'grounding','value'=>0))}">
										<i class='icow icow-xiajia3'></i> 下架
									</button>
									
									<button class="btn btn-default btn-sm  btn-operation" type="button" data-toggle='batch-group'  id="batchcatesbut" >商品分类</button>
									
									<button class="btn btn-default btn-sm  btn-operation"  style="display:none;" type="button" data-toggle='batch-group'  id="batchcatesbut" >商品分组</button>
									   
									<button class="btn btn-default btn-sm  btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除吗，删除后商品将进入回收站?" data-href="{php echo shopUrl('goods/change',array('type'=>'grounding','value'=>3))}">
										<i class='icow icow-shanchu1'></i> 删除
									</button>
									
									<button class="btn btn-default btn-sm  btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要彻底删除吗?" data-href="{php echo shopUrl('goods/delete')}">
									<i class='icow icow-shanchu1'></i> 彻底删除</button>
											
								</div>
							</div>
                        </td>
                        <td colspan="2" style="text-align: right">
                            {$pager}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        
    </form>
</div>
{template 'goods/batchcates'}
{template '_footer'}
<script>
    //显示批量分类
    $('#batchcatesbut').click(function () {
        $('#batchcates').show();
    })

    //关闭批量分类
    $('.modal-header .close').click(function () {
        $('#batchcates').hide();
    })

    // 取消批量分类
    $('.modal-footer .btn.btn-default').click(function () {
        $('#batchcates').hide();
    })
	//确认
    $('.modal-footer .btn.btn-primary').click(function () {
        var selected_checkboxs = $('.table-responsive tbody tr td:first-child [type="checkbox"]:checked');
        var goodsids = selected_checkboxs.map(function () {
            return $(this).val()
        }).get();

        var cates=$('#cates').val();
        var iscover=$('input[name="iscover"]:checked').val();
        $.post("{php echo shopUrl('goods/ajax_batchcates')}",{'goodsids':goodsids,'cates': cates,'iscover':iscover}, function (ret) {
            if (ret.status == 1) {
                $('#batchcates').hide();
                tip.msgbox.suc('修改成功');
                window.location.reload();
                return
            } else {
                tip.msgbox.err('修改失败');
            }
        }, 'json');
    })
	
</script>