{template '_header'}
<style type="text/css">
.pd0{padding:0;}
input[type=checkbox].team-check{vertical-align:middle;margin:0 4px 0 0;}
    table tr td,table tr th{
        border:none !important;
        border-bottom:1px solid #efefef !important;
        padding: 15px 0 !important;

    }
</style>
<div class="page-header">
    当前位置：<span class="text-primary">拼团管理</span>
</div>
<div class="page-content">
<div class="main">
    <div class="page-toolbar row m-b-sm m-t-sm">
        <form action="./index.php" method="get" class="form-horizontal" plugins="form">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="lionfish_comshop" />
            <input type="hidden" name="do" value="admin" />
            <input type="hidden" name="controller"  value="pin.pinlist" />
            <input type="hidden" name="type"  value="{$_GPC['type']}" />
            <div class="col-sm-6">
                <div class="btn-group btn-group-sm">

                    {php echo tpl_form_field_daterange('time', array('starttime'=>date('Y-m-d H:i', $starttime),'endtime'=>date('Y-m-d H:i', $endtime)),true);}
                </div>
            </div>
            <div class="col-sm-6 pull-right">
                <div class="input-group">
                    <div class="input-group-select">
                        <select name='searchtime'  class='form-control  input-sm select-md' style="width:100px;"  >
                            <option value=''>不按时间</option>
                            <option value='starttime' {if $_GPC['searchtime']=='starttime'}selected{/if}>开团时间</option>
                        </select>
                    </div>
                    <div  class="input-group-select">
                        <select name='searchfield'  class='form-control  input-sm select-md' style="width:100px;"  >
                            <option value='pin_id' {if $_GPC['searchfield']=='pin_id'}selected{/if}>团ID</option>
                            <option value='name' {if $_GPC['searchfield']=='name'}selected{/if}>商品名称</option>
                        </select>
                    </div>
                    <input type="text" class="form-control input-sm"  name="keyword" value="{$_GPC['keyword']}" placeholder="请输入关键词"/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"> 搜索</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    {if $_GPC['type'] == 'ing'}
    <div class="panel panel-info" style="border:none;margin: 0;padding-bottom: 20px">
        <div class="input-group-btn">
            {if $_GPC['sort']==''}
            <button class="btn btn-primary btn-sm" type="button" onclick="javascript:window.location.href='{php echo shopUrl('pin.pinlist',array('type'=>ing,'sort'=>desc))}'">
                <i class='fa fa-sort'></i> 参团人数
            </button>
            {/if}
            {if $_GPC['sort']=='desc'}
            <button class="btn btn-primary btn-sm" type="button" onclick="javascript:window.location.href='{php echo shopUrl('pin.pinlist',array('type'=>ing,'sort'=>asc))}'">
                <i class='fa fa-caret-down'></i> 参团人数
            </button>
            {/if}
            {if $_GPC['sort']=='asc'}
            <button class="btn btn-primary btn-sm" type="button" onclick="javascript:window.location.href='{php echo shopUrl('pin.pinlist',array('type'=>ing,'sort'=>desc))}'">
                <i class='fa fa-caret-up'></i> 参团人数
            </button>
            {/if}
            <button class="btn btn-success btn-sm" type="button" onclick="javascript:window.location.href='{php echo shopUrl('pin.pinlist',array('type'=>ing,'sort'=>$_GPC['sort'],'team'=>groups))}'">
                <i class='fa fa-group'></i> 即将成团
            </button>
            {if $_GPC['type']=='ing'}
            <button class="btn btn-default btn-sm" type="button" data-toggle='batch' data-href="{php echo shopUrl('pin.pinlist')}">
                <i class='fa fa-circle'></i> 手动成团
            </button>
            {/if}
        </div>
    </div>
    {/if}
    <div class="panel-default">
        <div class="panel-body table-responsive" style="padding:0;">
            <form action="" method="post">
                {if $teams}
            <table class="table table-hover ">
                <thead class="navbar-inner">
                <tr>
                    <th style="width:60px; text-align: center;">团ID</th>
                    <th style="width:220px;">商品名称</th>

                    <th style="width:80px;text-align: center;">团购进度</th>
                    <th style="width:140px;text-align: center;">开团时间</th>
                    <th style="width:140px;text-align: center;">到期时间</th>
                    <th style="width:80px;text-align: center;">状态</th>
                    <th style="width:140px; text-align: center;">操作</th>
                </tr>
                </thead>
                <tbody style="text-align: center;">

                    {loop $teams $row}
                    <tr>
                        <td>{$row['pin_id']}</td>
                        <td style="text-align:left;">{if !empty($row['name'])}{$row['name']}{else}--{/if}</td>
                        <td>
                            <font color="red">{$row['buy_count']}</font>/{$row['need_count']}
							<?php if($row['is_jiqi'] ==1){ ?>
							<br />
							<span class="label label-danger">机器人成团</span>
							<?php } ?>
                        </td>
                        <td><?php echo date('Y-m-d H:i:s', $row['begin_time']); ?></td>
                        <td><?php echo date('Y-m-d H:i:s', $row['end_time']); ?></td>
                        <td>
							<?php if($row['state'] == 0 && $row['end_time'] > time() ){ ?>
								<span class="label label-info">拼 团 中</span>
							<?php } ?>
                            {if $row['state']==1}<span class="label label-success">拼团成功</span>{/if}
							
							<?php if( ($row['state'] == 0 && $row['end_time'] < time()) || $row['state'] ==2 ){ ?>
								<span class="label label-danger">拼团失败</span>
							<?php } ?>
							
                        </td>
                        <td>
                            <a href="{php echo shopUrl('pin.pindetail',array('pin_id'=>$row['pin_id']))}" class="btn  btn-op btn-operation">
                             <span data-toggle="tooltip" data-placement="top" title="" data-original-title="查看团信息">
                                        <i class='icow icow-chakan-copy'></i>
                             </span>
                            </a>
                            {if $row['state'] == 0}
                           
                            <br /><a class="btn btn-primary btn-xs" data-toggle="ajaxPost" href="{php echo shopUrl('pin/handerteam', array('pin_id' => $row['pin_id']))}" data-confirm="确认立即成团吗？">立即成团</a>
                            
                            {/if}
                        </td>
                    </tr>
                    {/loop}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="text-right">{$pager}</td>
                    </tr>
                </tfoot>
            </table>
                {else}
                <div class='panel panel-default'>
                    <div class='panel-body' style='text-align: center;padding:30px;'>
                        暂时没有任何拼团
                    </div>
                </div>
                {/if}
            </form>
        </div>
    </div>
</div>
</div>
{template '_footer'}
