    <form action="" method="post"  class="form-horizontal form-validate" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$level['id']}" />
		 <input type="hidden" name="controller" value="distribution.{if empty($level['id'])}addlevel{else}editlevel{/if}" />
		
		
	  <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">{if !empty($level['id'])}编辑{else}添加{/if}分销商等级</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label must">等级名称</label>
                    <div class="col-sm-9 col-xs-12">
						
                        <input type="text" name="levelname" class="form-control" value="{$level['levelname']}" data-rule-required='true'/>
						
                    </div>
                </div>
                {if $set['commiss_level']>=1}
                <div class="form-group">
					 <label class="col-sm-2 control-label">一级佣金比例</label>
					  <div class="col-sm-9 col-xs-12">
							<div class='input-group'>
						<input type="text" name="commission1" class="form-control" value="{$level['commission1']}" />
							<div class='input-group-addon'>%</div>
						</div>
						
					</div>
                </div>
                {/if}
                  {if $set['commiss_level']>=2}
                <div class="form-group">
					<label class="col-sm-2 control-label">二级佣金比例</label>
					<div class="col-sm-9 col-xs-12">
					   <div class='input-group'>
						<input type="text" name="commission2" class="form-control" value="{$level['commission2']}" />
						<div class='input-group-addon'>%</div>
						</div>
					</div>
                </div>
                    {/if}
                  {if $set['commiss_level']>=3}
                  <div class="form-group">
                    <label class="col-sm-2 control-label">三级佣金比例</label>
                          <div class="col-sm-9 col-xs-12">
                          <div class='input-group'>
                        <input type="text" name="commission3" class="form-control" value="{$level['commission3']}" />
                          <div class='input-group-addon'>%</div>
                        </div>
                    </div>
                </div>
                 {/if}
				{if $level['id']!='default'}
				<div class="form-group">
					<label class="col-sm-2 control-label">升级条件</label>
					<div class="col-sm-9 col-xs-12">
						<div class='input-group'>
							<span class='input-group-addon'>分销订单金额满</span>
							<input type="text" name="ordermoney" class="form-control" value="{$level['ordermoney']}" />
							<span class='input-group-addon'>元</span>
						</div>
						<span class='help-block'>分销商升级条件，不填写默认为不自动升级</span>
					</div>
				</div>
				{/if}
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">提交</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            </div>
        </div>
</form>

